<html lang="pl">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 <table id="bingoTable">
    <tr>
      <td id="field-1"></td>
      <td id="field-2"></td>
      <td id="field-3"></td>
      <td id="field-4"></td>
    </tr>
    <tr>
      <td id="field-5"></td>
      <td id="field-6"></td>
      <td id="field-7"></td>
      <td id="field-8"></td>

    </tr>
    <tr>
      <td id="field-9"></td>
      <td id="field-10"></td>
      <td id="field-11"></td>
      <td id="field-12"></td>

    </tr>
    <tr>
      <td id="field-13"></td>
      <td id="field-14"></td>
      <td id="field-15"></td>
      <td id="field-16"></td>

    </tr>
 </table>

<script src="/javascripts/script.js"></script>
</body>
</html>