<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<form>

  <input id="nickTb" name="nickTb" type="text" placeholder="nick">
  <input id="passTb" name="passTb" type="password" placeholder="haslo">
  <input id="submitBtn" type="submit" value="potwierdz">

</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  // document.getElementsByTagName("form").

  const socket = io()
  let nick =  document.getElementById("nickTb").textContent
  let pass = document.getElementById("passTb").textContent
  document.getElementById("submitBtn").addEventListener("click", (event) => {
    event.preventDefault()
    socket.emit("login", {nick:pass})

  })


</script>
</body>
</html>