<html lang="pl">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
      <table>

        <tr>
          <td id="field-1" class="active field">1</td>
          <td id="field-2" class="active field">2</td>
          <td id="field-3" class="active field">3</td>
          <td id="field-4" class="active field">4</td>
        </tr>
        
        <tr>
          <td id="field-5" class="active field"></td>
          <td id="field-6" class="active field"></td>
          <td id="field-7" class="active field"></td>
          <td id="field-8" class="active field"></td>

        </tr>
        
        <tr>
          <td id="field-9" class="active field"></td>
          <td id="field-10" class="active field"></td>
          <td id="field-11" class="active field"></td>
          <td id="field-12" class="active field"></td>

        </tr>
        
        <tr>
          <td id="field-13" class="active field"></td>
          <td id="field-14" class="active field"></td>
          <td id="field-15" class="active field"></td>
          <td id="field-16" class="active field"></td>

        </tr>

      </table>
 <script type="text/javascript">
     document.addEventListener('DOMContentLoaded', function () {
       const es = new EventSource('/event');
       
       es.addEventListener('touchChange', (event) => {
         if (!document.getElementById(`field-${event.data}`).classList.contains("inactive")) {
           document.getElementById(`field-${event.data}`).classList.remove("active")
           document.getElementById(`field-${event.data}`).classList.add("inactive")
         } else {
           document.getElementById(`field-${event.data}`).classList.remove("inactive")
           document.getElementById(`field-${event.data}`).classList.add("active")
         }
       })


     })

 </script>
</body>
</html>