<html lang="pl">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

 <form id="loginForm">

<input id="loginInput" name="loginInput" type="password">
<input id="passInput" name="passInput" type="password">
<input type="submit">

 </form>



 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
 <script src="/socket.io/socket.io.js"></script>
 
 <script>

  const socket = io();
	document.getElementById("loginForm").addEventListener("submit", (event)=>{
		event.preventDefault()
		io.emit("login", {nick: document.getElementById("loginInput").textContent, pass: document.getElementById("passInput").textContent})
	})

 </script>

 </body>
 </html>